# Grunt
Gruntfile.js
Gruntfile.js.map
Gruntfile.min.js
Gruntfile.min.js.map

# Visual Studio
*.suo
*.csproj.user

/bin
/obj

# Node.js
node_modules
typings
npm-debug.log

# JavaScript
/*.js
/*.js.map

/lib/**/*.js
/lib/**/*.js.map

/test/**/*.js
/test/**/*.js.map